@page "/tasks"



<div class="tw-relative tw-overflow-x-auto tw-shadow-md tw-sm:rounded-lg">
    <table class="tw-w-full tw-text-sm tw-text-left tw-rtl:text-right tw-text-gray-500 ">
      
        <thead class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-50  ">
        <tr>
            <th scope="col" class="tw-px-6 tw-py-3">
                Title
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
                Description
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
                Due Date
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
                Status
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
                <span class="tw-sr-only">Edit</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="tw-bg-white tw-border-b ">
            <th scope="row" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap ">
                Apple MacBook Pro 17"
            </th>
            <td class="tw-px-6 tw-py-4">
                Silver
            </td>
            <td class="tw-px-6 tw-py-4">
                Laptop
            </td>
            <td class="tw-px-6 tw-py-4">
                $2999
            </td>
            <td class="tw-px-6 tw-py-4 tw-text-right">
                <a href="#" class="tw-font-medium tw-text-blue-600  tw-hover:underline">Edit</a>
            </td>
        </tr>
      
  
        </tbody>
    </table>
</div>



@code {
    
}